<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TagPpl</title>  
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/main.js"></script>
  </head>
  <body>
   
        <a  href="/">
          TagPpl
        </a>
        <a  href="/db">
        DB
        </a>

          <form action="">
         
              <input type="text" placeholder="Search">
      
           </form>
            
           
           <form action="">
            <button>Messages</button>
           </form>
         
              <% if (!userz){ %> 
                <a href="/signup"">
                  <strong>Sign up</strong>
                </a>
                <a href="/login"">
                <strong>Log in</strong>
                </a>
              <% }else{ %> 
          <form action="/logout?_method=DELETE" method="POST">
                <button><%= userz.username %> </button>
          </form>
              <% } %> 
            

