<%- include ("partials/header") %> 


  <form action="/signup" method="post">
 
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="avatar" placeholder="avatar url">
        <button>
          Sign up
        </button>

  </form>

  <%- include ("partials/footer") %> 